<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading chevron-toggle" data-toggle="collapse" data-target="#collapse1">
                    <b><input type="text" class="form-control" id="inputTitle" placeholder="Enter Title..." ng-model="editedNews.title"></b>
                </div>
                <div id="collapse1" class="collapse">
                    <div class="panel-body">
                        <div class="form-group">
                            <div text-editor source="editedNews.content"></div>
                        </div>
                        <div class="form-group">
                            <div drop-zone class="previews dropzone-previews" id="file-dropzone">
                                <div class="dz-message" data-dz-message><span>Your Custom Message</span></div>
                            </div>
                        </div>

                        <button class="btn btn-success" ng-click="save()" type="button"><span
                                class="fa fa-check"></span> Save
                        </button>
                        <button class="btn btn-warning" ng-click="cancel()" type="button"><span
                                class="fa fa-times"></span> Cancel
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <hr/>
    <ul class="timeline">
        <li ng-repeat="news in newsList" class="clearfix" ng-class-even="'timeline-inverted'">
            <div class="timeline-badge btn-info">
                <a data-toggle="dropdown">
                    <i class="glyphicon" ng-class-odd="'glyphicon-hand-left'" ng-class-even="'glyphicon-hand-right'"></i>
                </a>
                <ul class="dropdown-menu pull-left">
                    <li><a data-edit="fontSize 5"><font size="5">Huge</font></a></li>
                    <li><a data-edit="fontSize 3"><font size="3">Normal</font></a></li>
                    <li><a data-edit="fontSize 1"><font size="1">Small</font></a></li>
                </ul>
            </div>
            <div class="timeline-panel">
                <div class="timeline-img row">
                    <div class="col-sm-4" id="carousel-bounding-box">
                        <div class="carousel slide">
                            <div class="carousel-inner">
                                <div class="item slide-left" data-ng-repeat="image in news.imageList" data-ng-class="{active:$first}">
                                    <img class="img-thumbnail img-responsive" ng-src="http://localhost:8080/uploaded/{{band.id}}/{{image}}_s.png"/>
                                </div>
                            </div>
                        </div>
                        <div class="spacer5 visible-xs visible-sm"></div>
                    </div>
                    <ul class="carousel-controls-mini list-inline margin-top-5" data-ng-show="news.imageList.length > 1">
                        <li><a href="javascript:;" data-target=".carousel" data-slide="prev"><span class="fa fa-arrow-circle-left fa-2x"></span></a></li>
                        <li><a href="javascript:;" data-target=".carousel" data-slide="next"><span class="fa fa-arrow-circle-right fa-2x"></span></a></li>
                    </ul>
                </div>
                <div class="timeline-heading">
                    <h4 class="timeline-title">{{news.title}}</h4>
                    <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> {{news.creationDate | date:'fullDate'}}</small></p>
                </div>
                <div class="timeline-body">
                    <p><span ng-bind-html="news.content"></span></p>
                </div>
            </div>
        </li>
    </ul>
</div>
