@font-face {
    font-family: English Gothic;
    src: url(fonts/english_gothic.ttf);
}

.voffset {
    margin-top: 2px;
}

.voffset1 {
    margin-top: 5px;
}

.voffset2 {
    margin-top: 10px;
}

.voffset3 {
    margin-top: 15px;
}

.voffset4 {
    margin-top: 30px;
}

.voffset5 {
    margin-top: 40px;
}

.voffset6 {
    margin-top: 60px;
}

.voffset7 {
    margin-top: 80px;
}

.voffset8 {
    margin-top: 100px;
}

.voffset9 {
    margin-top: 150px;
}

.novoffssetb {
    margin-bottom: 0;
}

.voffsetb {
    margin-bottom: 2px;
}

.voffsetb1 {
    margin-bottom: 5px;
}

.voffsetb2 {
    margin-bottom: 10px;
}

.voffsetb3 {
    margin-bottom: 15px;
}

.voffsetb4 {
    margin-bottom: 30px;
}

.voffsetb5 {
    margin-bottom: 40px;
}

.voffsetb6 {
    margin-bottom: 60px;
}

.voffsetb7 {
    margin-bottom: 80px;
}

.voffsetb8 {
    margin-bottom: 100px;
}

.voffsetb9 {
    margin-bottom: 150px;
}

.clear {
    clear: both;
}

.show-element {
    opacity: 1;
    -webkit-transition: opacity 2s; /* For Safari 3.1 to 6.0 */
    transition: opacity 2s;
}
.hide-element {
    opacity: 0;
    -webkit-transition: opacity 2s; /* For Safari 3.1 to 6.0 */
    transition: opacity 2s;
}

html, body {
    height: 100%;
}

.brand-font {
    font-family: "English Gothic", serif;
}

.logo-wrapper {
    position: absolute;
    top: 20%;
    left: 50%;
}

.logo-wrapper .logo {
    font-family: "English Gothic", serif;
    font-size: 100px;
    color: #fff;
    position: relative;
    left: -50%;
}

.logo-wrapper .logo-image {
    position: relative;
    left: -50%;
}

.footer-social-wrapper {
    float: right;
    right: 50%;
    position: relative;
}

.footer-social-wrapper .footer-social {
    float: right;
    right: -50%;
    position: relative;
    background-color: #3e4245;
    border: 1px solid #0c0d0e;
    border-radius: 20px;
    padding: 10px;
}

.footer-social-wrapper .footer-social > a {
    padding: 5px 20px;
}

.start-wrapper {
    position: absolute;
    top: 75%;
    left: 50%;
}

.start-wrapper .start {
    position: relative;
    left: -50%;
}

.brand {
    font-family: "English Gothic", serif;
}

.main-header {
    background: #000;
    width: 100%;
    height: 100%;
}

.main-header .cover {
    background: url(img/cover.png) no-repeat fixed center center;
    background-size: cover;
    width: 100%;
    height: 100%;
    overflow: hidden;
    opacity: 0;
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    filter: blur(2px);
    -webkit-animation: fadein 2s ease-in-out 0.5s forwards; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s ease-in-out 0.5s forwards; /* Firefox < 16 */
    animation: fadein 2s ease-in-out 0.5s forwards;
}

.intersection {
    background: #000;
    width: 100%;
    height: 200px;
}

.intersection .cover {
    background: url(img/cover1.jpg) no-repeat fixed center center;
    background-size: cover;
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.intersection2 {
    background: #000;
    width: 100%;
    height: 300px;
}

.intersection2 .cover {
    background: url(img/cover2.jpg) no-repeat fixed center center;
    background-size: cover;
    width: 100%;
    height: 300px;
    overflow: hidden;
}

@keyframes fadein {
    to   { opacity: 1; }
}

@-moz-keyframes fadein {
    to   { opacity: 1; }
}

@-webkit-keyframes fadein {
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    to   { opacity: 1; }
}

.inner {
    height: 100%;
}

.shadow {
    -moz-box-shadow: 0 -10px 20px 0 #000;
    -webkit-box-shadow: 0 -10px 20px 0 #000;
    box-shadow: 0 -10px 20px 0 #000;
    position: relative;
    z-index: 100;
}

/* Overriding bootstrap modal window property */
.modal-backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.custom-carousel .carousel-indicators {
    bottom: -20px;
    margin-bottom: 0;
}

.custom-carousel .carousel-control.right {
    background-image: none;
}

.custom-carousel .carousel-control.left {
    background-image: none;
}