.admin-modal > .modal-dialog {
    width: 850px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.spacer {
    margin-top: 10px;
}

.notification-fade.ng-enter,
.notification-fade.ng-leave {
    -webkit-transition:all linear 0.5s;
    -moz-transition:all linear 0.5s;
    -o-transition:all linear 0.5s;
    transition:all linear 0.5s;
    display:block!important;
}

.notification-fade.ng-enter.ng-enter-active,
.notification-fade.ng-leave {
    opacity:1;
}

.notification-fade.ng-enter,
.notification-fade.ng-leave.ng-leave-active {
    opacity:0;
}