<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/admin/index.html#/band/band">{{band.name}}</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a id="menu-band-news" href="/admin/index.html#/band/news">News</a></li>
                <li><a id="menu-band-members" href="/admin/index.html#/band/members">Members</a></li>
                <li><a id="menu-band-music" href="/admin/index.html#/band/albums">Music</a></li>
            </ul>
        </div>
    </div>
</nav>