<div class="modal-header">
    <h3 class="modal-title">Edit News</h3>
</div>
<form role="form">
    <div class="modal-body">
        <div class="form-group">
            <label>Title</label>
            <input ng-model="news.title" type="text" class="form-control" id="titleInput" placeholder="Enter title">
        </div>
        <div class="form-group">
            <label>Content</label>
            <text-angular ng-model="news.content"
                    ta-toolbar="[['h1','h2','h3','p','quote','bold','italics','underline'],['ul','ol','justifyLeft','justifyCenter','justifyRight','indent','outdent'],['html','insertLink','insertImage','insertVideo']]"
                    type="text" id="contentInput" placeholder="Enter content"></text-angular>
        </div>
        <div class="form-group">
            <label>File input</label>
            <input type="file" id="fileInput">
        </div>
        <div class="modal-footer">
            <button class="btn btn-success" ng-click="save()">Save</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </div>
</form>