<s-menu></s-menu>
<div class="container">
    <div class="row notifications">
        <s-notification></s-notification>
    </div>
    <div class="row spacer">
        <div class="col-md-2">
            <button type="button" class="btn btn-primary" ng-click="editAlbum()">
                <span class="glyphicon glyphicon-plus"></span> Add Album
            </button>
        </div>
    </div>
    <div ng-repeat="albumGroup in albumGroupList" class="row spacer">
        <div ng-repeat="album in albumGroup" class="col-md-3">
            <div class="thumbnail">
                <span class="dropdown pull-right" dropdown on-toggle="toggled(open)">
                    <a href class="dropdown-toggle" dropdown-toggle>
                        <span class="glyphicon glyphicon-cog"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a ng-click="editAlbum(album)"><span class="glyphicon glyphicon-pencil"></span> Edit</a></li>
                        <li><a ng-click="removeAlbum(album)"><span class="glyphicon glyphicon-trash"></span> Remove</a></li>
                    </ul>
                </span>
                <img class="img-responsive img-thumbnail" ng-src="{{album.imageList[0] | ImagePath}}"/>
                <div class="caption">
                    <h3>{{album.title}}</h3>
                    <p>{{album.creationDate}}</p>
                    <p><div ng-bind-html="album.description | MinimizeText"></div></p>
                    <p><a href="/admin/index.html#/band/songs" class="btn btn-success" ng-click="setAlbum(album)">Songs</a></p>
                </div>
            </div>
        </div>
    </div>
</div>