<div class="modal-header">
    <h3 class="modal-title">Edit song</h3>
</div>
<form name="form" role="form" novalidate>
    <div class="modal-body">
        <div class="form-group">
            <label>Order Number</label>
            <input ng-model="song.orderNumber" type="text" class="form-control" id="orderNumberInput" placeholder="Enter order number"
                   required>
        </div>
        <div class="form-group">
            <label>Title</label>
            <input ng-model="song.title" type="text" class="form-control" id="titleInput" placeholder="Enter title"
                   required>
        </div>
        <div class="form-group">
            <label>Music author</label>
            <input ng-model="song.musicAuthor" type="text" class="form-control" id="musicAuthorInput" placeholder="Enter music author"
                   required>
        </div>
        <div class="form-group">
            <label>Music author</label>
            <input ng-model="song.wordsAuthor" type="text" class="form-control" id="wordsAuthorInput" placeholder="Enter words author"
                   required>
        </div>
        <div class="form-group">
            <label>Text</label>
            <text-angular ng-model="song.text"
                          ta-toolbar="{{getProperty('EDITOR_CONTROLS')}}"
                          type="text" id="textInput" placeholder="Enter description" required></text-angular>
        </div>
        <div class="form-group">
            <label>Files</label><br>
            {{song.musicList}}
            {{song.title}}
            <s-music-upload></s-music-upload>
        </div>
        <div class="modal-footer">
            <button class="btn btn-success" ng-click="save()" type="button" ng-disabled="form.$invalid"><span
                    class="glyphicon glyphicon-ok"></span> Save
            </button>
            <button class="btn btn-warning" ng-click="cancel()" type="button"><span
                    class="glyphicon glyphicon-remove"></span> Cancel
            </button>
        </div>
    </div>
</form>