<div class="modal-header">
    <h3 class="modal-title">Edit Member</h3>
</div>
<form name="form" role="form" novalidate>
    <div class="modal-body">
        <div class="form-group">
            <label>Name</label>
            <input ng-model="member.name" type="text" class="form-control" id="nameInput" placeholder="Enter name"
                   required>
        </div>
        <div class="form-group">
            <label>Surname</label>
            <input ng-model="member.surname" type="text" class="form-control" id="surnameInput"
                   placeholder="Enter surname" required>
        </div>
        <div class="form-group">
            <label>Description</label>
            <text-angular ng-model="member.description"
                          ta-toolbar="{{getProperty('EDITOR_CONTROLS')}}"
                          type="text" id="contentInput" placeholder="Enter description" required></text-angular>
        </div>
        <div class="form-group">
            <label>Date fo birth</label>
            <input ng-model="member.dateOfBirth" type="text" class="form-control" id="dateOfBirthInput"
                   placeholder="yyyy-mm-dd" is-open="opened" ng-click="opened = !opened" datepicker-popup required/>
        </div>
        <div class="form-group">
            <label>Instrument</label>
            <select ng-model="member.instrument"
                    ng-options="instrument | TitleText for instrument in instruments"
                    class="form-control" required>
            </select>
        </div>
        <div class="form-group">
            <label>Image</label><br>

            <div class="row spacer">
                <div class="col-md-3" ng-show="member.image">
                    <button type="button" class="btn btn-danger btn-xs" ng-click="removeImage(member.image)">
                        <span class="glyphicon glyphicon-trash"></span> Remove
                    </button>
                    <img class="img-responsive img-thumbnail"
                         ng-src="{{getProperty('HOSTNAME')}}uploaded/{{band.id}}/{{member.image}}_s.png"/>
                </div>
            </div>
            <div class="spacer">
                <span class="btn btn-primary btn-file">
                    <span class="glyphicon glyphicon-plus"></span> Add image...
                    <input type="file" nv-file-select uploader="uploader" accept="image/*"/>
                </span>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-success" ng-click="save()" type="button" ng-disabled="form.$invalid"><span
                    class="glyphicon glyphicon-ok"></span> Save
            </button>
            <button class="btn btn-warning" ng-click="cancel()" type="button"><span
                    class="glyphicon glyphicon-remove"></span> Cancel
            </button>
        </div>
    </div>
</form>