<div class="modal-header">
    <h3 class="modal-title">Edit News</h3>
</div>
<form name="form" role="form" novalidate>
    <div class="modal-body">
        <div class="checkbox">
            <label>
                <input ng-model="news.hot" type="checkbox" id=hotInput"> Hot
            </label>
        </div>
        <div class="form-group">
            <label>Title</label>
            <input ng-model="news.title" type="text" class="form-control" id="titleInput" placeholder="Enter title"
                   required>
        </div>
        <div class="form-group">
            <label>Content</label>
            <text-angular ng-model="news.content"
                          ta-toolbar="{{getProperty('EDITOR_CONTROLS')}}"
                          type="text" id="contentInput" placeholder="Enter content" required></text-angular>
        </div>
        <div class="form-group">
            <label>Images</label><br>
            <s-image-upload></s-image-upload>
        </div>
        <div class="modal-footer">
            <button class="btn btn-success" ng-click="save()" type="button" ng-disabled="form.$invalid"><span
                    class="glyphicon glyphicon-ok"></span> Save
            </button>
            <button class="btn btn-warning" ng-click="cancel()" type="button"><span
                    class="glyphicon glyphicon-remove"></span> Cancel
            </button>
        </div>
    </div>
</form>