<s-menu></s-menu>
<div class="container">
    <div class="row notifications">
        <s-notification></s-notification>
    </div>
    <form name="form" role="form" novalidate>
        <div class="modal-body">
            <div class="form-group">
                <label>Name</label>
                <input ng-model="band.name" type="text" class="form-control" id="nameInput" placeholder="Enter name" required>
            </div>
            <div class="form-group">
                <label>Description</label>
                <text-angular ng-model="band.description"
                              ta-toolbar="{{getProperty('EDITOR_CONTROLS')}}"
                              type="text" id="contentInput" placeholder="Enter description" required></text-angular>
            </div>
        </div>
    </form>
</div>