<s-menu></s-menu>
<div class="container">
    <div class="row notifications">
        <s-notification></s-notification>
    </div>
    <div class="row spacer">
        <div class="col-md-2">
            <button type="button" class="btn btn-primary" ng-click="editMember()">
                <span class="glyphicon glyphicon-plus"></span> Add Member
            </button>
        </div>
    </div>
    <div ng-repeat="memberGroup in memberGroupList" class="row spacer">
        <div ng-repeat="member in memberGroup" class="col-md-3">
            <div class="thumbnail">
                <span class="dropdown pull-right" on-toggle="toggled(open)">
                    <a href class="dropdown-toggle">
                        <span class="glyphicon glyphicon-cog"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a ng-click="editMember(member)"><span class="glyphicon glyphicon-pencil"></span> Edit</a></li>
                        <li><a ng-click="removeMember(member)"><span class="glyphicon glyphicon-trash"></span> Remove</a></li>
                    </ul>
                </span>
                <img class="img-responsive img-thumbnail" ng-src="{{member.imageList[0] | ImagePath}}"/>
                <div class="caption">
                    <h3>{{member.name}} {{member.surname}}</h3>
                    <p>{{member.dateOfBirth}}</p>
                    <p><div ng-bind-html="member.description | MinimizeText"></div></p>
                </div>
            </div>
        </div>
    </div>
</div>