<s-menu></s-menu>
<div class="container">
    <div class="row notifications">
        <s-notification></s-notification>
    </div>
    <div class="row spacer">
        <div class="col-md-2">
            <button type="button" class="btn btn-primary" ng-click="editSong()">
                <span class="glyphicon glyphicon-plus"></span> Add Song
            </button>
        </div>
    </div>
    <div class="row spacer">
        <div class="col-md-12">
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>Nr.</th>
                    <th>Title</th>
                    <th>File</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="song in songList" ng-mouseenter="showEdit=true" ng-mouseleave="showEdit=false">
                    <td class="col-md-1">
                        <span ng-show="!showEdit">{{song.orderNumber}}</span>
                        <button type="button" ng-show="showEdit" class="btn btn-xs btn-primary"
                                ng-click="editSong(song)">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </button>
                        <button type="button" ng-show="showEdit" class="btn btn-xs btn-danger"
                                ng-click="removeSong(song)">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    </td>
                    <td class="col-md-3"><span ng-bind="song.title"></span></td>
                    <td class="col-md-6"><span></span></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>