<div class="modal-header">
    <h3 class="modal-title">{{album.title}}</h3>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-5">
            <img ng-src="{{album.imageList[0] | ImagePath:'s'}}">
        </div>
        <div class="col-md-7">
            <table>
                <tr ng-repeat="song in songList | orderBy : 'orderNumber'">
                    <td>{{song.orderNumber}}. </td>
                    <td>{{song.title}}</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row voffset2">
        <div class="col-md-12">
            <p ng-bind-html="album.description"></p>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" ng-click="cancel()" type="button"><span
            class="glyphicon glyphicon-remove"></span> Back
    </button>
</div>