<!DOCTYPE HTML>
<html ng-app="frontApp">
<head>
    <title>Symphodia</title>
    <meta charset="UTF-8"/>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap_dark.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/front.css">
    <link rel="shortcut icon" href="css/img/favicon.ico" type="image/x-icon"/>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular-sanitize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.1/ui-bootstrap-tpls.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-scroll/0.6.5/angular-scroll.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/services.js"></script>
    <script src="js/directives.js"></script>
    <script src="js/filters.js"></script>
</head>
<body ng-controller="FrontCtrl">

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-init="navbarCollapsed=true"
                    ng-click="navbarCollapsed = !navbarCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" s-scroll-listener="200" ng-class="{'show-element' : show, 'hide-element': !show}">
                <img ng-if="band" style="height: 80px; position: relative; top: -30px;" ng-src="{{band.page.logoList[0] | ImagePath:'s'}}"/>
            </a>
        </div>

        <div class="collapse navbar-collapse" collapse="navbarCollapsed">
            <ul class="nav navbar-nav navbar-right">
                <li du-scrollspy="news-section"><a href="#news-section" du-smooth-scroll duration="2000" offset="50">News</a>
                </li>
                <li du-scrollspy="music-section"><a href="#music-section" du-smooth-scroll duration="2000" offset="40">Releases</a>
                </li>
                <li du-scrollspy="members-section"><a href="#members-section" du-smooth-scroll duration="2000" offset="40">Members</a></li>
            </ul>
        </div>
    </div>
</nav>
<header class="main-header">
    <div ng-if="band" class="cover" s-back-img="{{band.page.imageList[0] | ImagePath}}"></div>
    <div class="logo-wrapper">
        <img ng-if="band" class="logo-image img-responsive" ng-src="{{band.page.logoList[0] | ImagePath}}"/>
    </div>
    <div class="start-wrapper">
        <span class="start">
            <a href="#news-section" du-smooth-scroll duration="2000" offset="50">
                <span class="fa fa-chevron-down fa-5x"></span>
            </a>
        </span>
    </div>
</header>
<section id="news-section" class="shadow">
    <div class="container">
        <carousel interval="10000" class="row voffset5 custom-carousel">
            <slide ng-repeat="news in newsList" active="news.active">
                <article class="col-md-10 col-md-offset-1">
                    <figure class="col-md-5">
                        <img class="img-responsive" ng-src="{{news.imageList[0] | ImagePath:'m'}}" width="360" height="360"/>
                    </figure>
                    <div class="col-md-5 text-left" style="height: 360px;">
                        <h2>{{news.title}}</h2>
                        <time><small><em>{{news.creationDate | date : 'dd/MM/yyyy H:mm'}}</em></small></time>
                        <p class="voffset3" ng-bind-html="news.content"></p>
                    </div>
                </article>
            </slide>
        </carousel>
    </div>

    <div class="container-fluid">
        <div class="row well voffset5 voffsetb5 news-article-container-wrapper" s-reel>
            <div id="news-article-container" class="news-article-container">
                <article class="news-article" ng-repeat="news in newsList">
                    <div class="thumbnail" style="height: 400px">
                        <figure><img class="img-responsive" ng-src="{{news.imageList[0] | ImagePath:'mw'}}"/></figure>
                        <h3>{{news.title}}</h3>
                        <time><small><em>{{news.creationDate | date : 'dd/MM/yyyy H:mm'}}</em></small></time>
                        <p class="voffset3" ng-bind-html="news.content | MinimizeText:200"></p>
                    </div>
                </article>
            </div>
            <span class="backward" ng-mouseenter="moveBackward()" ng-mouseleave="moveStop()"><i class="fa fa-angle-left fa-3x"></i></span>
            <span class="forward" ng-mouseenter="moveForward()" ng-mouseleave="moveStop()"><i class="fa fa-angle-right fa-3x"></i></span>
        </div>
    </div>
</section>
<div class="intersection">
    <div ng-if="band" class="cover" s-back-img="{{band.page.imageList[1] | ImagePath}}"></div>
</div>
<section id="music-section" class="shadow">
    <div class="container">
        <header>
            <h2 class="text-warning brand-font">Albums</h2>
        </header>
        <div class="row voffset4">
            <article ng-repeat="album in fullAlbumList" class="col-md-3 voffsetb4" ng-click="openAlbum(album)">
                <figure><img ng-src="{{album.imageList[0] | ImagePath:'s'}}"/></figure>
                <h4>{{album.title}}</h4>
                <time><em>({{album.creationDate | date : 'yyyy'}})</em></time>
            </article>
        </div>
        <header>
            <h2 class="text-warning brand-font">Singles</h2>
        </header>
        <div class="row voffset4">
            <article ng-repeat="album in singleAlbumList" class="col-md-3 voffsetb4" ng-click="openAlbum(album)">
                <figure><img ng-src="{{album.imageList[0] | ImagePath:'s'}}"/></figure>
                <h4>{{album.title}}</h4>
                <time><em>({{album.creationDate | date : 'yyyy'}})</em></time>
            </article>
        </div>
    </div>
</section>
<div class="intersection2">
    <div ng-if="band" class="cover" s-back-img="{{band.page.imageList[2] | ImagePath}}"></div>
</div>
<section id="members-section" class="shadow">
    <div class="container">
        <header>
            <h2 class="text-warning brand-font">Members</h2>
        </header>
        <div class="row voffset4">
            <article ng-repeat="member in memberList" class="col-md-3 voffsetb4" ng-click="openMember(member)">
                <figure><img ng-src="{{member.imageList[0] | ImagePath:'s'}}"/></figure>
                <h4>{{member.name}} {{member.surname}}</h4>
                <div><em>({{member.instrument | TitleText}})</em></div>
            </article>
        </div>
    </div>
</section>
<footer class="main-footer well novoffssetb">
    <h2 class="text-center text-warning brand-font"><strong>Follow Us:</strong></h2>
    <div class="footer-social-wrapper">
        <div class="footer-social">
            <a ng-href="{{band.page.socialData.facebookLink}}"><span class="fa fa-facebook fa-2x"></span></a>
            <a ng-href="{{band.page.socialData.youtubeLink}}"><span class="fa fa-youtube fa-2x"></span></a>
            <a ng-href="{{band.page.socialData.twitterLink}}"><span class="fa fa-twitter fa-2x"></span></a>
            <a ng-href="{{band.page.socialData.vkLink}}"><span class="fa fa-vk fa-2x"></span></a>
        </div>
    </div>
    <div class="clear"></div>
    <div>
        <span class="text-center"><span class="fa fa-copyright"></span> Symphodia. All rights reserved.</span>
    </div>
</footer>
</body>
</html>